<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46175897317-o1l6k10mp9l9t2f2pjs2mv46jg33meel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46175897317-o1l6k10mp9l9t2f2pjs2mv46jg33meel</string>
	<key>API_KEY</key>
	<string>AIzaSyAnfaiblAxyccDQfBFwF60orexFjemk_m8</string>
	<key>GCM_SENDER_ID</key>
	<string>46175897317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joybending.firebase.FriendlyEats</string>
	<key>PROJECT_ID</key>
	<string>firestore-ios-codelab-4163d</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ios-codelab-4163d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46175897317:ios:8c8ee7771d0354203a360c</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-ios-codelab-4163d.firebaseio.com</string>
</dict>
</plist>